<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="author" content="Untree.co" />
    <link rel="shortcut icon" href="favicon.png" />

    <meta name="description" content="" />
    <meta name="keywords" content="" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/owl.carousel.min.css" />
    <link rel="stylesheet" href="css/owl.theme.default.min.css" />
    <link rel="stylesheet" href="css/jquery.fancybox.min.css" />
    <link rel="stylesheet" href="fonts/icomoon/style.css" />
    <link rel="stylesheet" href="fonts/flaticon/font/flaticon.css" />
    <link rel="stylesheet" href="css/aos.css" />
    <link rel="stylesheet" href="css/style.css" />

    <title><%= locals %></title>
  </head>

  <body data-spy="scroll" data-target=".site-navbar-target" data-offset="100">
    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close">
          <span class="icofont-close js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>

    <nav class="site-nav dark js-site-navbar mb-5 site-navbar-target">
      <div class="container">
        <div class="site-navigation">
          <a href="/" class="logo m-0 float-left"
            >About Page<span class="text-primary">.</span></a
          >

          <ul
            class="js-clone-nav d-none d-lg-inline-block site-menu float-left"
          >
            <li class="active">
              <a href="/" class="nav-link">Home</a>
            </li>
            <li><a href="#contact-section" class="nav-link">Contact</a></li>
          </ul>

          <ul
            class="js-clone-nav d-none mt-1 d-lg-inline-block site-menu float-right"
          >
            <li class="cta-button-outline">
              <a href="/signin">Sign in</a>
            </li>
            <li class="cta-primary">
              <a href="register">Register</a>
            </li>
          </ul>

          <a
            href="#"
            class="burger ml-auto float-right site-menu-toggle js-menu-toggle d-inline-block dark d-lg-none"
            data-toggle="collapse"
            data-target="#main-navbar"
          >
            <span></span>
          </a>
        </div>
      </div>
    </nav>

<div
  class="d-flex text-center flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
>

</div>
<div class="pt-3">
  <h1 class="text-center">Welcome to our User Management System</h1>
</div>
<div>
  <p class="font-italic text-justify">
    At our System, we understand that managing user access and information is a
    critical aspect of any modern organization. Our User Management System is
    designed to simplify and streamline the process of handling user accounts,
    permissions, and data, empowering you to focus on what matters most – your
    core business.
  </p>
</div>
<div class="text-center font-weight-bold">
  <h3 class="mb-3">Key Features</h3>
  <p></p>
  <ul class="list-unstyled">
    <li class="mb-2">
      <b class="font-weight-bold">User-friendly Interface</b>: Our intuitive
      interface makes it easy for administrators to navigate and manage user
      accounts without the need for extensive technical expertise.
    </li>
    <li class="mb-2">
      <b class="font-weight-bold">Centralized User Administration</b>: Enjoy the
      convenience of centralized user management, allowing you to add, modify,
      or deactivate user accounts from a single, secure platform.
    </li>
    <li class="mb-2">
      <b class="font-weight-bold">Access Control</b>: Define and customize user
      roles and permissions to ensure that individuals have access only to the
      information and functionalities relevant to their responsibilities.
    </li>
  </ul>
</div>
