<div
  class="d-flex text-center flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
>
  <h1 class="h2">About</h1>
</div>
<div class="pt-3">
  <h1 class="text-center">Welcome to our User Management System</h1>
</div>
<div>
  <p class="font-italic text-justify">
    At our System, we understand that managing user access and information is a
    critical aspect of any modern organization. Our User Management System is
    designed to simplify and streamline the process of handling user accounts,
    permissions, and data, empowering you to focus on what matters most – your
    core business.
  </p>
</div>
<div class="text-center font-weight-bold">
  <h3 class="mb-3">Key Features</h3>
  <p></p>
  <ul class="list-unstyled">
    <li class="mb-2">
      <b class="font-weight-bold">User-friendly Interface</b>: Our intuitive
      interface makes it easy for administrators to navigate and manage user
      accounts without the need for extensive technical expertise.
    </li>
    <li class="mb-2">
      <b class="font-weight-bold">Centralized User Administration</b>: Enjoy the
      convenience of centralized user management, allowing you to add, modify,
      or deactivate user accounts from a single, secure platform.
    </li>
    <li class="mb-2">
      <b class="font-weight-bold">Access Control</b>: Define and customize user
      roles and permissions to ensure that individuals have access only to the
      information and functionalities relevant to their responsibilities.
    </li>
  </ul>
</div>
